<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolor.view_binding_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewBindingDemoActivity"
            android:exported="false"
            android:label="ViewBinding Usage in Activity" />
        <activity
            android:name=".ViewBindingInflateActivity"
            android:exported="false"
            android:label="ViewBinding.inflate(LayoutInflater)" />
        <activity
            android:name=".ViewBindingBindActivity"
            android:exported="false"
            android:label="ViewBinding.bind(View)" />
        <activity
            android:name=".ViewBindingDemoFragmentActivity"
            android:exported="false"
            android:label="ViewBinding Usage in Fragment" />
    </application>

</manifest>